:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: ■rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}

.main {
    width: 100%;
    position: relative;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #040707;

    .ImageDiv {
        height: 97vh;
        width: 100%;
        object-fit: cover;
        overflow: hidden;

        .background {
            margin-top: 5vh;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top 30%;
            width: 100%;
        }
    }

    .left-button {
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transform: translateX(-57%);
        background-color: #004da0;
        color: white;
        padding: 10px 10px;
        border-radius: 0px 5px 5px 0px;
        text-decoration: none;
        display: flex;
        /* Usar flexbox */
        align-items: center;
        /* Centrar verticalmente los elementos */
        transition: padding-right .5s;
        transition: transform .5s;

        .icon {
            margin-left: 12px;
            font-size: 1.5rem;
            transition: .5s;
        }

        span {
            display: inline-block;
            font-weight: 600;
        }

        &:hover {
            background-color: #004fa2;
            transform: translateX(1%);

            .icon {
                margin-left: 0px;
            }

        }
    }


    .introCard {
        position: absolute;
        top: 23vh;
        right: 5vh;
        padding: 1rem 1rem 2rem;
        gap: 2rem;
        border-radius: 1rem;
        background: rgba(27, 31, 35, 0.7);
        width: 50%;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;

        .introParagraph {
            font-size: 13px;
            color: var(--textColor);

            .home-title {
                font-size: 3vw;
                margin-top: 2%;
                color: #ffffff;

                @keyframes glow {
                    0% {
                        text-shadow: 0 0 0px #177FA1, 0 0 0px #177FA1, 0 0 0px #177FA1, 0 0 0px #177FA1, 0 0 0px #177FA1;
                    }

                    100% {
                        text-shadow: 0 0 8px #177FA1, 0 0 1px #177FA1, 0 0 1px #177FA1, 0 0 1px #177FA1, 0 0 1px #177FA1;
                    }
                }

                .outlined-text {
                    -webkit-text-stroke: 0.1vw #177FA1;
                    color: transparent;
                    position: relative;
                    animation: glow 1.5s infinite alternate;
                }


            }

            .home-text {
                line-height: 1.5;
                font-size: 18px;
                margin-top: 15px;
                color: #ffffff;
            }

            .button-59 {
                margin-top: 15px;
                align-items: center;
                background: linear-gradient(to right, #ffffff 50%, #157392 50%);
                background-size: 200% 100%;
                border: 2px solid #000;
                border-radius: 5px;
                box-sizing: border-box;
                color: #000000;
                cursor: pointer;
                display: inline-flex;
                fill: #000;
                font-family: Inter, sans-serif;
                font-size: 16px;
                font-weight: 600;
                height: 48px;
                justify-content: center;
                letter-spacing: -.8px;
                line-height: 24px;
                min-width: 140px;
                outline: 0;
                padding: 0 17px;
                text-align: center;
                text-decoration: none;
                transition: background-position 0.5s, transform 0.3s, color 0.5s;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;

                &:focus {
                    color: #171e29;
                }

                &:hover {
                    background-position: -100% 0;
                    color: #ffffff;
                    transform: scale(1.04);
                }

                &:active {
                    fill: #046A9A;
                }
            }


        }

    }

}

// MEDIA QUERIES ============================================

@media screen and (max-width: 500px) {
    .main {
        margin-top: 2vh;

        .left-button {
            top: 40%;

            &:hover {
                background-color: #004fa2;
                transform: translateX(0%);

                .icon {
                    margin-left: 0px;
                }

            }
        }

        .ImageDiv {
            height: 53.7rem;

            .background {
                width: 150%;
            }
        }

        .introCard {
            top: 45vh;
            width: 80%;

            .introParagraph {
                font-size: 13px;
                color: var(--textColor);

                .home-title {
                    font-size: 6vw;
                }

                .home-text {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (min-width: 501px) and (max-width: 650px) {
    .main {
        margin-top: 2vh;

        .left-button {
            top: 55%;

            &:hover {
                background-color: #004fa2;
                transform: translateX(0%);

                .icon {
                    margin-left: 0px;
                }

            }
        }

        .ImageDiv {
            height: 80rem;

            .background {
                width: 150%;
            }
        }

        .introCard {
            top: 60vh;
            width: 87%;

            .introParagraph {
                .home-title {
                    font-size: 5vw;
                }
            }
        }
    }
}

@media screen and (min-width: 651px) and (max-width: 810px) {
    .main {
        margin-top: 0vh;

        .left-button {
            top: 43%;

            &:hover {
                background-color: #004fa2;
                transform: translateX(0%);

                .icon {
                    margin-left: 0px;
                }

            }
        }

        .ImageDiv {
            height: 67.3rem;

            .background {
                width: 150%;
            }
        }

        .introCard {
            top: 50vh;
            width: 90%;

            .introParagraph {
                font-size: 13px;
                color: var(--textColor);

                .home-title {
                    font-size: 4.5vw;
                }
            }
        }
    }
}

@media screen and (min-width: 811px) and (max-width: 1000px) {
    .main {
        margin-top: 0vh;

        .left-button {
            top: 42%;

            &:hover {
                background-color: #004fa2;
                transform: translateX(0%);

                .icon {
                    margin-left: 0px;
                }

            }
        }

        .ImageDiv {
            height: 72.5rem;

            .background {
                width: 150%;
            }
        }

        .introCard {
            top: 50vh;
            width: 86%;

            .introParagraph {
                font-size: 13px;

                .home-title {
                    font-size: 5vw;
                }

                .home-text {
                    font-size: 18px;
                }
            }
        }
    }
}